*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url(../img/2.png) no-repeat;
	background-size: cover;
	overflow: hidden;
}
#videoContain {
	position: relative;
}
.upload{
	position: relative;
	width: 60%;
	height: 300px;
	border: 2px dashed #ccc;
	margin: 100px auto;
	background-color: rgba(238,238,238,.5);
}
.upload #uploadFile{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0;
}
.upload .uploadStyle{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	text-align: center;
}
.upload .uploadStyle i{
	font-size: 100px;
	color: #fff;
	padding-top: 157px;
}
.upload .uploadStyle p{
	color: #fff;
	font-size: 18px;
}

.progress{
	width: 60%;
	margin: 0 auto;
	background-color: rgba(238,238,238,.5);
}

/* video样式 */
.v_container{
	width: 900px;
	position: relative;
	margin: 120px auto;
}
#video{
	width: 100%;
	object-fit: fill
}
.control{
	position: absolute;
	bottom: 3px;
	display: none;
	left: 50%;
	transform: translate(-50%,0);
	background-color: rgba(0,0,0,.3);
}
.control ul{
	width: 900px;
	list-style: none;
	display: flex;
	margin-bottom: 0;
}
.control ul li{
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-right: 20px;
	cursor: pointer;
}
.control ul li i{
	font-size: 24px;
	color: white;
	line-height: 50px;
}
.control ul #voice{position: relative;}
.control ul #voice .voiceControl{
	width: 100px;
	height: 5px;
	background-color: rgba(238,238,238,.5);
	border-radius: 5px;
	position: absolute;
	top: 23px;
	left: 50px;
	z-index: 3;
}
.control ul #voice .voiceControl .voiceCircle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: royalblue;
	position: absolute;
	left: 90px;
	top: -2.5px;
}
.control ul #voice .voiceControl .voiceDone{
	width: 100px;
	height: 5px;
	background-color: royalblue;
	border-radius: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.control ul #set{
	position: absolute;
	right: 0;
}
.control ul .fullScreen{
	position: absolute;
	right:70px;
}
.control ul #set:hover ul{
	display: block;
}
.control ul #set ul{
	width: 70px;
	height: 140px;
	display: block;
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: -140px;
	left: -20px;
	display: none;
	background-color: rgba(0,0,0,.3);
}
.control ul #set ul li{
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	padding-left: 20px;
	margin-top: 5px;
}
.control ul #set ul li:hover{
	background-color: rgba(230,230,230,.5);
}
.control #time{
	width: 180px;
	color: #ccc;
	font-size: 16px;
	line-height: 50px;
}
.control #time span{
	color: #fff;
	line-height: 50px;
	padding: 0 5px;
}
.control #time #totalTime{
	color: #ccc;
	padding-left: 0px;
}
.progressBar{
	width: 900px;
	height: 5px;
	background-color: #ccc;
	position: absolute;
	bottom: 4px;
	cursor: pointer;
	left: 50%;
	transform: translate(-50%,0);
}
.progressBar .progressCircle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: royalblue;
	position: absolute;
	top: -2.5px;
	z-index: 5;
}
.progressBar .progressDone{
	height: 100%;
	background-color: royalblue;
	position: absolute;
	top: 0;
	left: 0;
}

/* 视频播放完后淡出效果 */
.fadeout-active{
	animation: fadeout 2s;
	animation-fill-mode: forwards;
}
.fadein-active{
	animation: fadein 2s;
	animation-fill-mode: forwards;
}
@keyframes fadeout{
	100% {
	  opacity: 0;
	}
}
@keyframes fadein{
	100% {
	  opacity: 1;
	}
}

/* vue中的动画 */
.bounce-enter-active {
  animation: bounce-in 2s;
}
.bounce-leave-active {
  animation: bounce-in 2s reverse;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}